Acredito que o Design é uma ferramenta importantíssima para solucionar problemas e transformar cenários.
Tenho como intuito constuir um perfil multidisciplinar, por acreditar que o conhecimento é fluido e que não devemos criar barreiras.
Após adiquirir experiência em Arquitetura e Urbanismo, descobri uma nova paixão por UX/UI Design. Ser capaz de compreender as necessidades do usuário final e conectá-las com Design e estratégia tem me mantido motivada nessa área relativamente nova e desafiadora.
Possuo conhecimento nas pesquisas com usuários, ferramentas de Design e prototipação.
